Source: ocaml-fileutils
Section: devel
Priority: optional
Maintainer: Sylvain LE GALL <sylvain.le-gall@polytechnique.org> 
Build-Depends: ocaml-3.06-1, debhelper, ocaml-findlib
Standards-Version: 3.5.10

Package: libfileutils-ocaml-dev
Architecture: any
Depends: ${shlibs:Depends}, ocaml-3.06-1
Description: Some utility function related to file for Ocaml
 This library is a group of some file oriented function for Ocaml.
 His aim is to enhance to basic functionality provided by the 
 Ocaml standard Filename library.

